@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi-Variable";
  src: url(/src/assets/fonts/Satoshi-Variable.ttf);
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "STIX";
  src: url(/src/assets/fonts/STIXTwoText-VariableFont_wght.ttf);
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Clash-Display";
  src: url(/src/assets/fonts/ClashDisplay-Variable.ttf);
  font-display: swap;
  font-style: normal;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Satoshi-Variable;
}

#menu.active {
  left: 0;
  transition: all 0.5s ease-in-out;
  height: 100vh;
}

.close.menu {
  left: -30em;
}

.clash {
  font-family: Clash-Display;
}

.stix {
  font-family: STIX;
}
