@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Satoshi-Variable";
  src: url(/src/assets/fonts/Satoshi-Variable.ttf);
  font-display: swap;
  font-style: normal;
}

/* font-family: 'Clash Display', sans-serif; */
/* font-family: 'Satoshi', sans-serif; */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Satoshi-Variable;
}

#menu.active {
  left: 0;
}

.close.menu {
  left: -30em;
}