@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi-Variable";
  src: url(/src/assets/fonts/Satoshi-Variable.ttf);
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "STIX";
  src: url(/src/assets/fonts/STIXTwoText-VariableFont_wght.ttf);
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Belle-Fair";
  src: url(/src/assets/fonts/Bellefair-Regular.ttf);
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Baskerville";
  src: url(/src/assets/fonts/Baskervville/Baskervville-Regular.ttf);
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Clash-Display";
  src: url(/src/assets/fonts/ClashDisplay-Variable.ttf);
  font-display: swap;
  font-style: normal;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Satoshi-Variable;
}

#menu.active {
  left: 0;
  transition: all 0.3s ease-in-out;
  height: 100vh;
}

.close.menu {
  left: -60em;
}

.clash {
  font-family: Clash-Display;
}

.stix {
  font-family: STIX;
}

.upcoming {
  background: linear-gradient(99.99deg, #4693ED -26.21%, #79C2D2 22.16%, rgba(192, 86, 9, 0.49) 111.62%);
}

.belle {
  font-family: Belle-Fair;
}

.bask {
  font-family: Baskerville;
}

button#accordion-button-\:r1\: {
  background: none;
}

button#accordion-button-\:r9\: {
  background: transparent;
}

span.MuiSlider-root.MuiSlider-colorPrimary.MuiSlider-sizeMedium.css-187mznn-MuiSlider-root {
  color: #333333;
  width: 244px;
}

.details-img {
  background: url(/src/assets/boolean-egypt.svg);
}
